@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200;500&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --font-family: 'Oswald', sans-serif;
  --font-text: "Roboto Condensed", sans-serif;
  --font-color: black;

  --gradient-text: linear-gradient(90deg, rgba(36,0,23,1) 18%, rgba(96,3,106,1) 82%, rgba(202,135,227,1) 100%);;
  --gradient-bar: linear-gradient(90deg, rgba(36,0,23,1) 0%, rgba(53,3,73,1) 0%, rgba(202,135,227,1) 100%, rgba(145,10,145,1) 100%);
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}